AircraftDataAnalysisService/AircraftDataAnalysisWinRT/Service References/AircraftService/AircraftService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlightDataEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlightDataEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45240/AircraftService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:45240/AircraftService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
  <xs:complexType name="ArrayOfFlightParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FlightParameter" nillable="true" type="tns:FlightParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlightParameter" nillable="true" type="tns:ArrayOfFlightParameter" />
  <xs:complexType name="FlightParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Frequence" type="xs:int" />
      <xs:element minOccurs="0" name="Index" type="xs:int" />
      <xs:element minOccurs="0" name="IsConcerned" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterDataType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubIndex" type="xs:int" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightParameter" nillable="true" type="tns:FlightParameter" />
  <xs:complexType name="RawDataBatch">
    <xs:sequence>
      <xs:element minOccurs="0" name="Datas" nillable="true" type="tns:ArrayOfRawDataParamBatch" />
      <xs:element minOccurs="0" name="Flight" nillable="true" type="tns:Flight" />
      <xs:element minOccurs="0" name="Second" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RawDataBatch" nillable="true" type="tns:RawDataBatch" />
  <xs:complexType name="ArrayOfRawDataParamBatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RawDataParamBatch" nillable="true" type="tns:RawDataParamBatch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRawDataParamBatch" nillable="true" type="tns:ArrayOfRawDataParamBatch" />
  <xs:complexType name="RawDataParamBatch">
    <xs:sequence>
      <xs:element minOccurs="0" name="ParameterID" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Values" nillable="true" type="q1:ArrayOffloat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RawDataParamBatch" nillable="true" type="tns:RawDataParamBatch" />
  <xs:complexType name="Flight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aircraft" nillable="true" type="tns:AircraftInstance" />
      <xs:element minOccurs="0" name="EndSecond" type="xs:int" />
      <xs:element minOccurs="0" name="FlightID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlightName" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="Id" type="q2:ObjectId" />
      <xs:element minOccurs="0" name="StartSecond" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Flight" nillable="true" type="tns:Flight" />
  <xs:complexType name="AircraftInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="AircraftModel" nillable="true" type="tns:AircraftModel" />
      <xs:element minOccurs="0" name="AircraftNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUsed" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AircraftInstance" nillable="true" type="tns:AircraftInstance" />
  <xs:complexType name="AircraftModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUsed" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AircraftModel" nillable="true" type="tns:AircraftModel" />
</xs:schema>