AircraftDataAnalysisService/AircraftDataAnalysisWinRT/Service References/AircraftService/AircraftService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AircraftService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:45240/AircraftService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:45240/AircraftService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:45240/AircraftService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FlightDataEntities" />
      <xsd:import schemaLocation="http://localhost:45240/AircraftService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:45240/AircraftService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAircraftService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IAircraftService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IAircraftService_GetAllFlightParameters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFlightParameters" />
  </wsdl:message>
  <wsdl:message name="IAircraftService_GetAllFlightParameters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFlightParametersResponse" />
  </wsdl:message>
  <wsdl:message name="IAircraftService_InsertRawDataBatch_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRawDataBatch" />
  </wsdl:message>
  <wsdl:message name="IAircraftService_InsertRawDataBatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRawDataBatchResponse" />
  </wsdl:message>
  <wsdl:message name="IAircraftService_GetCurrentAircraftModel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentAircraftModel" />
  </wsdl:message>
  <wsdl:message name="IAircraftService_GetCurrentAircraftModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentAircraftModelResponse" />
  </wsdl:message>
  <wsdl:portType name="IAircraftService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IAircraftService/DoWork" message="tns:IAircraftService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAircraftService/DoWorkResponse" message="tns:IAircraftService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFlightParameters">
      <wsdl:input wsaw:Action="http://tempuri.org/IAircraftService/GetAllFlightParameters" message="tns:IAircraftService_GetAllFlightParameters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAircraftService/GetAllFlightParametersResponse" message="tns:IAircraftService_GetAllFlightParameters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRawDataBatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IAircraftService/InsertRawDataBatch" message="tns:IAircraftService_InsertRawDataBatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAircraftService/InsertRawDataBatchResponse" message="tns:IAircraftService_InsertRawDataBatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentAircraftModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IAircraftService/GetCurrentAircraftModel" message="tns:IAircraftService_GetCurrentAircraftModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAircraftService/GetCurrentAircraftModelResponse" message="tns:IAircraftService_GetCurrentAircraftModel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAircraftService" type="tns:IAircraftService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IAircraftService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFlightParameters">
      <soap:operation soapAction="http://tempuri.org/IAircraftService/GetAllFlightParameters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRawDataBatch">
      <soap:operation soapAction="http://tempuri.org/IAircraftService/InsertRawDataBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentAircraftModel">
      <soap:operation soapAction="http://tempuri.org/IAircraftService/GetCurrentAircraftModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AircraftService">
    <wsdl:port name="BasicHttpBinding_IAircraftService" binding="tns:BasicHttpBinding_IAircraftService">
      <soap:address location="http://localhost:45240/AircraftService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>