AircraftDataAnalysisService/AircraftDataAnalysisWinRT/Service References/AircraftService/AircraftService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45240/AircraftService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FlightDataEntities" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAircraftModels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAircraftModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FlightDataEntities" minOccurs="0" name="GetAllAircraftModelsResult" nillable="true" type="q1:ArrayOfAircraftModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateAircraftModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FlightDataEntities" minOccurs="0" name="aircraftModel" nillable="true" type="q2:AircraftModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateAircraftModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOrUpdateAircraftModelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAircraft">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aircraftModel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAircraftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAircraftResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFlightParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFlightParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FlightDataEntities" minOccurs="0" name="GetAllFlightParametersResult" nillable="true" type="q3:ArrayOfFlightParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>