AircraftDataAnalysisService/AircraftDataAnalysisWinRT/Service References/AircraftService/AircraftService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlightDataEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlightDataEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAircraftModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AircraftModel" nillable="true" type="tns:AircraftModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAircraftModel" nillable="true" type="tns:ArrayOfAircraftModel" />
  <xs:complexType name="AircraftModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUsed" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AircraftModel" nillable="true" type="tns:AircraftModel" />
</xs:schema>